$blockquotes-background-colors-support-parser: (
    border-color: null,
    border-left-color: 'background-inner-color'
) !default;

$blockquotes-background-colors-support-extra-colors-palette: () !default;
$blockquotes-background-colors-support-skip-colors-palette: null !default;
